include MANIFEST COPYING README BUGS
recursive-include extensions *.c *.cc
global-include *.py
recursive-include images *.xbm *.gif
recursive-include tcl *.tcl
recursive-include thirdparty *.tcl *.gif *.xbm *.rc LICENSE* togl.c togl.h
recursive-include i18n Makefile *.po *.mo *.pot
recursive-include doc *
global-exclude CVS
global-exclude .cvsignore
